.alarm {
	width: 100%;
	height: 100px;
	background-color: #3c4f59;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	border: 2px solid #8b8d8e;
	margin-bottom: 1px;
	color: #cad2c5;
	grid-row-start: 1;
}

.extraInfo {
	grid-row-start: 2;
}

.alarm > div {
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
	height: auto;
	color: #cad2c5;
}

.alarm > img {
	width: 100px;
}

.alarmconatiner {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.image {
	grid-column-start: 1;
}

.alarmRoom {
	grid-column-start: 2;
	height: 200px;
}

.alarmName {
	grid-column-start: 3;
}

.alarmTime {
	grid-column-start: 4;
}

.alarmSent {
	grid-column-start: 5;
}
