#LoginMenu {
    margin-top: 10%;
    margin-left: 30%;
    width: 40%;
}

#LoginMenu > input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#LoginMenu > input[type='button'] {
    width: 100%;
    background-color: #4caf50;
    font-size: 20px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#LoginMenu > input[type='button']:hover {
    background-color: #45a049;
}

#LoginMenu > label {
    color: white;
}
