#box{
    width: 50%;
    margin: auto;
    padding: 15px;
    border-radius: 16px;
    background: linear-gradient(145deg, #32424b, #2a383f);
    box-shadow:  5px 5px 10px #202b30, 
                -5px -5px 10px #3e515c;
    text-align: center;
}

h1{
   text-align: center;
}

#box > img {
   align-self: auto;
   width: 25%;
   justify-content: center;
   border-radius: 50%;
}

button {
   transition-duration: 0.4s;
   border: none;
   padding: 16px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   transition-duration: 0.4s;
   cursor: pointer;
   border-radius: 15px;
 }
 

 #BTN {
   background-color: rgb(41, 95, 95); 
   color: white; 
   border: 2px solid rgb(37, 63, 63);
 }
 
 #BTN:hover {
   background-color: rgb(49, 138, 138);
   color: white;
 }