#container {
	min-height: 80vh;
	background-color: #2f3e46;
}

body {
	color: #cad2c5;
}

#alarmHeaders {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	color: #cad2c5;
}

#alarmHeaders > div {
	font-size: 35px;
	text-align: center;
	vertical-align: middle;
	line-height: 150%;
	height: auto;
	font-family: 'Open Sans';
}

#residentImageHeader {
	grid-column-start: 1;
}

#roomHeader {
	grid-column-start: 2;
}

#nameHeader {
	grid-column-start: 3;
}

#timeHeader {
	grid-column-start: 4;
}

#alarmHeader {
	grid-column-start: 5;
}
