#nameSearch {
	margin-bottom: 2%;
}

.searchPersons {
	display: grid;
	grid-template-columns: 4fr 6fr;
	margin-bottom: 1px;
	color: #cad2c5;
}

#SearchSection {
	grid-column-start: 1;
	color: #cad2c5;
	width: 98%;
	margin-left: 2%;
}

.moreInfo {
	grid-column-start: 2;
	color: #cad2c5;
	width: 96%;
	height: 100vh;
	margin-left: 3%;
	text-align: center;
}

.moreInfoClicked {
	background-color: #dfdfdf;
	color: black;
}

.retrievedPersons {
	width: 99.8%;
	margin-left: 0.5%;
}
