.caregiver {
	height: 35px;
	background-color: #c4c4c4;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	border: 1px solid #cad2c5;
	margin-bottom: 1px;
	
}

.rowHeader {
	height: 35px;
	background-color: #c4c4d3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	border: 2px solid #cad2c5;
	margin-bottom: 1px;
}

.clicked {
	background-color: #dfdfdf;
	width: 110%;
}

.caregiver > div {
	font-size: 30px;
	vertical-align: middle;	
	padding: 2px;
	line-height: 30px;
	height: auto;
	color: black;
	overflow-wrap: anywhere;
	
}

.rowHeader > div {
	font-size: 30px;
	vertical-align: middle;	
	padding: 2px;
	line-height: 30px;
	height: auto;
	color: black;
}

.firstname {
	grid-column-start: 1;
}

.surname {
	grid-column-start: 2;
}

.employeeID {
	grid-column-start: 3;
}

.available {
	grid-column-start: 4;
}