@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');

.extrainfo {
	width: 100%;
	color: #cad2c5;
	background-color: #10181c;
	margin-top: 0;
	padding: 2%;
	font-size: 150%;
	font-family: 'Public Sans', sans-serif;
}

.extrainfo > div {
	margin-left: 2%;
}

.extraInfoHeader {
	margin-top: 0;
}
