input {
	width: 100%;
}

#formDiv {
	margin: 0 auto;
	padding: 10px;
	width: 50%;
}

input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

input[type='text'] {
	background-color: #c4c4c4;
}

textarea {
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
}

input[type='button'],
input[type='submit'],
input[type='reset'] {
	background-color: #27ae60;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

body {
	width: 100%;
}
