#header {
  margin-top: 6px;
  font-size: 35px;
  margin-bottom: 6px;
}

hr {
  height: 0px;
  margin-top: 0px;
}

#clock {
  font-family: 'Open Sans';
  color: #cad2c5;
}

#menu {
  position: absolute;
  right: 20px;
  top: 1px;
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-color: #333;
}

li {
  float: left;
  font-size: 20px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #2f3e46;
}
